.h3 {
  padding-top: 50px;
}

.liveAnywhere {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 150px;
  margin-right: 150px;
  box-sizing: border-box;
  overflow: hidden;
  min-width: fit-content;
}
.liveAnywhere {
  min-width: fit-content;
}

.liveAnywhere h1 {
  margin-top: 30px;
  margin-left: 155px;
}

.liveAnywhere img {
  width: 386px;
  height: 400px;
  border-radius: 15px;
  padding-left: 2px;
  padding-right: 10px;
  margin-bottom: -17px;
}

.h3 h1 {
  padding-left: 150px;
}
