.edited {
  display: block;
  margin-left: 10px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.edited img {
  width: 320px;
  height: 330px;
  border-radius: 10px;
}

.edited .iheart {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.imgsDiv img {
  display: flex;
}

.infoRoom {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
}

.roomLoco {
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  float: left;
}

.pricing {
  margin-top: 5px;
  font-size: 17px;
  color: rgb(141, 138, 138);
  font-weight: lighter;
  float: right;
}

.pricing span {
  color: rgb(90, 87, 87);
}

.distance h3 {
  margin-top: -20px;
  color: rgb(141, 138, 138);
  font-weight: lighter;
  font-size: 17px;
}
